/* src/styles/globals.css */
@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --color-brand: #6E56CF;
  --color-brand-foreground: #FFFFFF;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
}

/* your globals */
html, body { height: 100%; }
body { font-feature-settings: "liga" 1, "kern" 1; }
